n8n/workflows/amex-statement-processor.json
{
  "name": "アメックス明細→仕訳台帳変換",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "manual-trigger",
      "name": "手動トリガー（顧客選択）",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "手動実行で顧客を選択してワークフローを開始"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "16qhVQNDn_5Y1Ayw_H0ziUw1nu2b70o6IcRn1rr4Pa94",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master_User_Config",
          "mode": "name"
        },
        "options": {
          "returnAllMatches": true
        }
      },
      "id": "get-all-clients",
      "name": "全クライアント取得",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheet-oauth",
          "name": "Google Sheets OAuth2"
        }
      },
      "notes": "Master_User_Configから全クライアント情報を取得"
    },
    {
      "parameters": {
        "jsCode": "// Master_User_Configから顧客リストを作成\nconst clients = $input.all();\n\n// drive_folder_idとsheet_idが両方設定されている顧客のみ抽出\nconst validClients = clients.filter(item => {\n  const json = item.json;\n  return json.drive_folder_id && json.sheet_id && json.customer_name !== '未設定';\n});\n\n// 顧客選択肢を作成\nconst clientOptions = validClients.map(item => {\n  return {\n    name: item.json.customer_name,\n    value: JSON.stringify({\n      customer_name: item.json.customer_name,\n      drive_folder_id: item.json.drive_folder_id,\n      sheet_id: item.json.sheet_id,\n      line_user_id: item.json.line_user_id\n    })\n  };\n});\n\nreturn {\n  json: {\n    clients: clientOptions\n  }\n};"
      },
      "id": "prepare-client-list",
      "name": "顧客リスト作成",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "notes": "設定済み顧客のみリスト化"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "select-client",
              "name": "selected_client",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-selected-client",
      "name": "顧客選択",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [850, 300],
      "notes": "手動で処理対象の顧客を選択（実際にはn8nのUI上で選択）"
    },
    {
      "parameters": {
        "jsCode": "// ここでは手動実行の簡略版として1番目の顧客を選択\n// 実際の運用では、n8nのForm TriggerまたはWebhook Triggerで顧客選択UIを実装\nconst clientsData = $('顧客リスト作成').item.json.clients;\nif (!clientsData || clientsData.length === 0) {\n  throw new Error('設定済みの顧客が見つかりませんでした');\n}\n\n// 最初の顧客を選択（デモ用）\nconst selectedClientData = JSON.parse(clientsData[0].value);\n\nreturn {\n  json: selectedClientData\n};"
      },
      "id": "parse-selected-client",
      "name": "選択顧客データ解析",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "notes": "選択された顧客の情報をパース"
    },
    {
      "parameters": {
        "operation": "list",
        "folderId": {
          "__rl": true,
          "value": "={{ $json.drive_folder_id }}",
          "mode": "id"
        },
        "filters": {
          "query": "name contains '.pdf' and name does not contain '_processed'"
        },
        "options": {}
      },
      "id": "get-pdf-list",
      "name": "未処理PDFリスト取得",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1250, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gdrive-oauth",
          "name": "Google Drive OAuth2"
        }
      },
      "notes": "顧客フォルダから未処理PDFファイルを検索"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "download-pdf",
      "name": "PDFダウンロード",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1450, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gdrive-oauth",
          "name": "Google Drive OAuth2"
        }
      },
      "notes": "PDFファイルをバイナリデータとしてダウンロード"
    },
    {
      "parameters": {
        "jsCode": "// PDFバイナリデータをBase64エンコード\nconst binaryPropertyName = Object.keys($input.item.binary)[0];\nconst mimeType = $input.item.binary[binaryPropertyName].mimeType || 'application/pdf';\n\nconst binaryBuffer = await this.helpers.getBinaryDataBuffer(0, binaryPropertyName);\nconst base64String = binaryBuffer.toString('base64');\n\nconst base64Pdf = `data:${mimeType};base64,${base64String}`;\n\n// OpenAI APIリクエストボディを構築\nconst requestBody = {\n  model: \"gpt-4o\",\n  messages: [\n    {\n      role: \"system\",\n      content: `あなたはアメックス明細PDFを解析する経理の専門家AIです。PDFから全ての取引データを抽出してください。\n\n# ルール\n1. **複数の取引**を1つのJSON配列として抽出してください。\n2. **各取引**について以下を抽出:\n   - **transaction_date**: 取引日（YYYY-MM-DD形式）\n   - **merchant**: 支払先（店舗名・会社名）\n   - **amount**: 金額（数値のみ、カンマや円マークは除去）\n   - **description**: 取引内容（明細に記載があれば）\n\n# 出力形式\nJSONのみを出力してください。説明文は不要です。\n\n{\n  \"transactions\": [\n    {\n      \"transaction_date\": \"2025-01-15\",\n      \"merchant\": \"Amazon.co.jp\",\n      \"amount\": 5280,\n      \"description\": \"書籍購入\"\n    },\n    {\n      \"transaction_date\": \"2025-01-16\",\n      \"merchant\": \"セブンイレブン\",\n      \"amount\": 850,\n      \"description\": \"\"\n    }\n  ]\n}`\n    },\n    {\n      role: \"user\",\n      content: [\n        {\n          type: \"text\",\n          text: \"このアメックス明細PDFから全ての取引データを抽出してください。\"\n        },\n        {\n          type: \"image_url\",\n          image_url: {\n            url: base64Pdf\n          }\n        }\n      ]\n    }\n  ],\n  max_tokens: 2000,\n  temperature: 0.1\n};\n\n// PDFファイル名も保持\nconst pdfFileName = $('PDFダウンロード').item.json.name;\nconst pdfFileId = $('PDFダウンロード').item.json.id;\n\nreturn {\n  json: {\n    requestBody: requestBody,\n    pdf_file_name: pdfFileName,\n    pdf_file_id: pdfFileId,\n    customer_name: $('選択顧客データ解析').item.json.customer_name,\n    sheet_id: $('選択顧客データ解析').item.json.sheet_id,\n    drive_folder_id: $('選択顧客データ解析').item.json.drive_folder_id\n  }\n};"
      },
      "id": "build-pdf-ocr-request",
      "name": "PDF OCRリクエスト構築",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300],
      "notes": "PDFをBase64エンコードしてGPT-4o Vision APIリクエストを構築"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "ai-pdf-ocr",
      "name": "AI-PDF解析（GPT-4o）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-api",
          "name": "OpenAI API"
        }
      },
      "notes": "GPT-4oでPDFから取引データを構造化抽出"
    },
    {
      "parameters": {
        "jsCode": "// GPT-4oのレスポンスをパース\nlet content = $json.choices[0].message.content;\ncontent = content.replace(/^```json\\s*\\n?/, '').replace(/\\n?```\\s*$/, '').trim();\nconst ocrResult = JSON.parse(content);\n\n// transactions配列を個別のアイテムに展開\nconst transactions = ocrResult.transactions || [];\n\nif (transactions.length === 0) {\n  throw new Error('PDFから取引データを抽出できませんでした');\n}\n\n// 各取引に共通データを付与\nconst pdf_file_name = $('PDF OCRリクエスト構築').item.json.pdf_file_name;\nconst pdf_file_id = $('PDF OCRリクエスト構築').item.json.pdf_file_id;\nconst customer_name = $('PDF OCRリクエスト構築').item.json.customer_name;\nconst sheet_id = $('PDF OCRリクエスト構築').item.json.sheet_id;\nconst drive_folder_id = $('PDF OCRリクエスト構築').item.json.drive_folder_id;\n\nreturn transactions.map(transaction => ({\n  json: {\n    ...transaction,\n    pdf_file_name,\n    pdf_file_id,\n    customer_name,\n    sheet_id,\n    drive_folder_id\n  }\n}));"
      },
      "id": "parse-transactions",
      "name": "取引データ展開",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 300],
      "notes": "JSON配列を個別のアイテムに展開してループ処理可能にする"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "勘定科目マスター",
          "mode": "name"
        },
        "options": {
          "returnAllMatches": true
        }
      },
      "id": "get-account-master",
      "name": "勘定科目マスター取得",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2250, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheet-oauth",
          "name": "Google Sheets OAuth2"
        }
      },
      "notes": "顧客別勘定科目ナレッジベースを取得",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// 取引データを取得\nconst transactionData = $('取引データ展開').item.json;\nconst merchant = transactionData.merchant || '';\nconst description = transactionData.description || '';\n\n// ナレッジベース取得\nlet knowledgeBase = [];\ntry {\n  const kbData = $('勘定科目マスター取得').all();\n  if (kbData && Array.isArray(kbData) && kbData.length > 0) {\n    knowledgeBase = kbData.filter(item => item && item.json && !item.error);\n  }\n} catch (error) {\n  knowledgeBase = [];\n}\n\n// マッチング処理\nlet matchedCategory = null;\nlet maxConfidence = 0;\nlet matchedRowId = null;\nlet matchedMerchantKeyword = null;\nlet matchedAccountCategory = null;\nlet matchedUsageCount = 0;\nlet matchedLastUsedDate = '';\nlet matchedConfidenceScore = 0;\n\nfor (let i = 0; i < knowledgeBase.length; i++) {\n  const rule = knowledgeBase[i].json;\n  const merchantKeyword = rule.merchant_keyword || '';\n  const descriptionKeyword = rule.description_keyword || '';\n  const confidence = parseInt(rule.confidence_score) || 0;\n  const rowNumber = i + 2;\n  \n  // 店舗名での完全一致（最優先）\n  if (merchantKeyword && merchant.includes(merchantKeyword)) {\n    if (confidence > maxConfidence) {\n      matchedCategory = rule.account_category;\n      maxConfidence = confidence;\n      matchedRowId = rowNumber;\n      matchedMerchantKeyword = merchantKeyword;\n      matchedAccountCategory = rule.account_category;\n      matchedUsageCount = rule.usage_count || 0;\n      matchedLastUsedDate = rule.last_used_date || '';\n      matchedConfidenceScore = confidence;\n    }\n  }\n  \n  // 取引内容での部分一致\n  if (!matchedCategory && descriptionKeyword && description.includes(descriptionKeyword)) {\n    if (confidence > maxConfidence) {\n      matchedCategory = rule.account_category;\n      maxConfidence = confidence;\n      matchedRowId = rowNumber;\n      matchedMerchantKeyword = merchantKeyword;\n      matchedAccountCategory = rule.account_category;\n      matchedUsageCount = rule.usage_count || 0;\n      matchedLastUsedDate = rule.last_used_date || '';\n      matchedConfidenceScore = confidence;\n    }\n  }\n}\n\n// マッチしない場合はAI推定を呼び出す準備\nreturn {\n  json: {\n    ...transactionData,\n    matched_category: matchedCategory,\n    match_source: matchedCategory ? 'knowledge_base' : 'ai_inference_needed',\n    matched_confidence: maxConfidence,\n    matched_row_id: matchedRowId,\n    merchant_keyword: matchedMerchantKeyword,\n    account_category: matchedAccountCategory,\n    usage_count: matchedUsageCount,\n    last_used_date: matchedLastUsedDate,\n    confidence_score: matchedConfidenceScore\n  }\n};"
      },
      "id": "account-matching",
      "name": "勘定科目判定（ナレッジベース）",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 300],
      "notes": "ナレッジベースでマッチング、なければAI推論へ"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-ai-inference",
              "leftValue": "={{ $json.match_source }}",
              "rightValue": "ai_inference_needed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-needs-ai-inference",
      "name": "IF AI推論が必要",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2650, 300],
      "notes": "ナレッジベースマッチがない場合のみAI推論"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": `あなたは経理の専門家AIです。支払先と取引内容から適切な勘定科目を推定してください。\\n\\n# 勘定科目の選択肢\\n- 旅費交通費: 駐車場、タクシー、電車、飛行機など\\n- 会議費: 飲食（打ち合わせ）、カフェミーティングなど\\n- 交際費: 接待、贈答品など\\n- 消耗品費: 文房具、日用品、コンビニなど\\n- 新聞図書費: 書籍、雑誌、電子書籍など\\n- 研修費: セミナー、オンライン講座など\\n- 通信費: 携帯電話、インターネットなど\\n- 車両費: ガソリン、車検、修理など\\n- 地代家賃: オフィス賃料、駐車場月極など\\n- 雑費: その他\\n\\n# 出力形式\\nJSON形式で1つの勘定科目を返してください。\\n\\n{\\n  \\\"account_category\\\": \\\"勘定科目名\\\"\\n}`\n    },\n    {\n      \"role\": \"user\",\n      \"content\": `支払先: ${$json.merchant}\\n取引内容: ${$json.description || '不明'}`\n    }\n  ],\n  \"max_tokens\": 100,\n  \"temperature\": 0.2\n} }}",
        "options": {}
      },
      "id": "ai-category-inference",
      "name": "AI勘定科目推論",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2850, 200],
      "credentials": {
        "openAiApi": {
          "id": "openai-api",
          "name": "OpenAI API"
        }
      },
      "notes": "ナレッジベースにマッチしない場合のみ実行"
    },
    {
      "parameters": {
        "jsCode": "// AI推論結果をパース\nlet content = $json.choices[0].message.content;\ncontent = content.replace(/^```json\\s*\\n?/, '').replace(/\\n?```\\s*$/, '').trim();\nconst aiResult = JSON.parse(content);\n\n// 元のデータとマージ\nconst originalData = $('IF AI推論が必要').item.json;\n\nreturn {\n  json: {\n    ...originalData,\n    matched_category: aiResult.account_category,\n    match_source: 'ai_inference'\n  }\n};"
      },
      "id": "merge-ai-result",
      "name": "AI推論結果マージ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3050, 200],
      "notes": "AI推論結果を元データにマージ"
    },
    {
      "parameters": {
        "jsCode": "// 消費税率の自動判定\nconst merchant = $json.merchant || '';\nlet taxRate = 10; // デフォルトは標準税率10%\n\n// 軽減税率8%対象店舗\nconst reducedTaxMerchants = [\n  'セブン', 'ローソン', 'ファミマ', 'ファミリーマート',\n  'イオン', '西友', 'マックスバリュ',\n  'Uber Eats', '出前館', 'menu', 'Wolt'\n];\n\nfor (const keyword of reducedTaxMerchants) {\n  if (merchant.includes(keyword)) {\n    taxRate = 8;\n    break;\n  }\n}\n\n// 税区分判定（アメックスはインボイス登録事業者なのでインボイス対応）\nconst taxType = taxRate === 10 ? '課10% インボイス' : '課8% インボイス';\n\nreturn {\n  json: {\n    ...$json,\n    tax_rate: taxRate,\n    tax_type: taxType,\n    // 貸方勘定科目は法人カードなので「未払金」\n    credit_account: '未払金'\n  }\n};"
      },
      "id": "determine-tax-rate",
      "name": "消費税率判定",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3250, 300],
      "notes": "軽減税率8%対象店舗を判定、貸方勘定科目を未払金に設定"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "仕訳台帳",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "id": "取引No",
              "displayName": "取引No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "取引日",
              "displayName": "取引日",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "借方勘定科目",
              "displayName": "借方勘定科目",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "借方補助科目",
              "displayName": "借方補助科目",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "借方部門",
              "displayName": "借方部門",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "借方取引先",
              "displayName": "借方取引先",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "借方税区分",
              "displayName": "借方税区分",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "借方インボイス",
              "displayName": "借方インボイス",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "借方金額(円)",
              "displayName": "借方金額(円)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "貸方勘定科目",
              "displayName": "貸方勘定科目",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "貸方補助科目",
              "displayName": "貸方補助科目",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "貸方部門",
              "displayName": "貸方部門",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "貸方取引先",
              "displayName": "貸方取引先",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "貸方税区分",
              "displayName": "貸方税区分",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "貸方インボイス",
              "displayName": "貸方インボイス",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "貸方金額(円)",
              "displayName": "貸方金額(円)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "摘要",
              "displayName": "摘要",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "タグ",
              "displayName": "タグ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "メモ",
              "displayName": "メモ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "value": {
            "取引No": "={{ $now.format('yyyyMMddHHmmss') }}",
            "取引日": "={{ $json.transaction_date }}",
            "借方勘定科目": "={{ $json.matched_category || 'Review_Required' }}",
            "借方補助科目": "",
            "借方部門": "",
            "借方取引先": "={{ $json.merchant }}",
            "借方税区分": "={{ $json.tax_type }}",
            "借方インボイス": "アメリカン・エキスプレス",
            "借方金額(円)": "={{ $json.amount }}",
            "貸方勘定科目": "={{ $json.credit_account }}",
            "貸方補助科目": "",
            "貸方部門": "",
            "貸方取引先": "",
            "貸方税区分": "",
            "貸方インボイス": "",
            "貸方金額(円)": "={{ $json.amount }}",
            "摘要": "={{ $json.merchant }}（{{ $json.description || 'カード決済' }}）",
            "タグ": "={{ $json.match_source === 'knowledge_base' ? 'ナレッジベース' : 'AI推論' }}",
            "メモ": "PDF: {{ $json.pdf_file_name }} | Status: {{ $json.matched_category ? 'Auto' : 'Review_Required' }}"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "append-journal-entry",
      "name": "仕訳台帳へ記帳",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [3450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheet-oauth",
          "name": "Google Sheets OAuth2"
        }
      },
      "notes": "各取引を仕訳台帳に記帳"
    },
    {
      "parameters": {
        "jsCode": "// 全取引の記帳が完了したら、PDFファイルを処理済みマーキング\nconst pdfFileId = $('PDF OCRリクエスト構築').item.json.pdf_file_id;\nconst pdfFileName = $('PDF OCRリクエスト構築').item.json.pdf_file_name;\n\n// 新しいファイル名を生成（_processed を追加）\nconst newFileName = pdfFileName.replace(/\\.pdf$/i, '_processed.pdf');\n\nreturn {\n  json: {\n    file_id: pdfFileId,\n    new_name: newFileName,\n    old_name: pdfFileName\n  }\n};"
      },
      "id": "prepare-rename",
      "name": "リネーム準備",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3650, 300],
      "notes": "処理済みマーキング用のファイル名生成"
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "updateFields": {
          "name": "={{ $json.new_name }}"
        },
        "options": {}
      },
      "id": "mark-as-processed",
      "name": "処理済みマーキング",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [3850, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gdrive-oauth",
          "name": "Google Drive OAuth2"
        }
      },
      "notes": "PDFファイル名に_processedを追加"
    }
  ],
  "connections": {
    "手動トリガー（顧客選択）": {
      "main": [
        [
          {
            "node": "全クライアント取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "全クライアント取得": {
      "main": [
        [
          {
            "node": "顧客リスト作成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "顧客リスト作成": {
      "main": [
        [
          {
            "node": "顧客選択",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "顧客選択": {
      "main": [
        [
          {
            "node": "選択顧客データ解析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "選択顧客データ解析": {
      "main": [
        [
          {
            "node": "未処理PDFリスト取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "未処理PDFリスト取得": {
      "main": [
        [
          {
            "node": "PDFダウンロード",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFダウンロード": {
      "main": [
        [
          {
            "node": "PDF OCRリクエスト構築",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF OCRリクエスト構築": {
      "main": [
        [
          {
            "node": "AI-PDF解析（GPT-4o）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI-PDF解析（GPT-4o）": {
      "main": [
        [
          {
            "node": "取引データ展開",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取引データ展開": {
      "main": [
        [
          {
            "node": "勘定科目マスター取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "勘定科目マスター取得": {
      "main": [
        [
          {
            "node": "勘定科目判定（ナレッジベース）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "勘定科目判定（ナレッジベース）": {
      "main": [
        [
          {
            "node": "IF AI推論が必要",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF AI推論が必要": {
      "main": [
        [
          {
            "node": "AI勘定科目推論",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "消費税率判定",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI勘定科目推論": {
      "main": [
        [
          {
            "node": "AI推論結果マージ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI推論結果マージ": {
      "main": [
        [
          {
            "node": "消費税率判定",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "消費税率判定": {
      "main": [
        [
          {
            "node": "仕訳台帳へ記帳",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "仕訳台帳へ記帳": {
      "main": [
        [
          {
            "node": "リネーム準備",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "リネーム準備": {
      "main": [
        [
          {
            "node": "処理済みマーキング",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "経理自動化",
      "id": "accounting-automation"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-24T00:00:00.000Z",
  "versionId": "1"
}
