n8n/workflows/line-follow-auto-registration.json
{
  "name": "LINE Follow - Auto Registration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line-webhook",
        "options": {}
      },
      "id": "04b07003-a4e2-4b6b-8381-4a349902b4fe",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -896,
        112
      ],
      "webhookId": "9a79a56d-b592-45fd-9ad7-3b4943f688e9",
      "notes": "LINE Messaging APIからのWebhook受信"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.body.events[0].message.type }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7e84f926-d451-426d-8b1d-f56467732ccb",
      "name": "IF Image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -608,
        112
      ],
      "notes": "画像メッセージのみ処理"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1dw8XFIp6KnYzYFKSUkIrhhnOpCEpkUsqzajwtc5rOkY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master_User_Config",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "line_user_id",
              "lookupValue": "={{ $('Webhook').item.json.body.events[0].source.userId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "70ecb384-6b11-4975-a0b3-66b40c10723d",
      "name": "顧客マスター参照",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -400,
        112
      ],
      "credentials": {
        "googleApi": {
          "id": "wqlgnFawkxBp06JZ",
          "name": "gsheet-oauth"
        }
      },
      "notes": "LINEユーザーIDから顧客設定を取得"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-user-exists",
              "leftValue": "={{ $json.line_user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9bd50fe6-521e-4e30-8a7b-773ee1965f74",
      "name": "IF ユーザー登録済み",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        112
      ],
      "notes": "未登録ユーザーはエラー処理へ"
    },
    {
      "parameters": {
        "url": "=https://api-data.line.me/v2/bot/message/{{ $('Webhook').item.json.body.events[0].message.id }}/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "7e58844e-225f-4062-aa50-600fcf035dbf",
      "name": "Get LINE Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nAPZJ9Lw44Y8WAvy",
          "name": "line-bot-auth"
        }
      },
      "notes": "LINE APIから画像バイナリを取得"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "name": "={{ $now.format('yyyyMMdd_HHmmss') }}_{{ $('顧客マスター参照').item.json.line_user_id }}.jpg",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('顧客マスター参照').item.json.drive_folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "a0a8d231-d5a5-4f44-8051-1568be7efb08",
      "name": "Google Drive Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "credentials": {
        "googleApi": {
          "id": "vDJ2aH9RlTe9yLtG",
          "name": "Google Service Account account"
        }
      },
      "notes": "顧客別フォルダに保存（動的振り分け）"
    },
    {
      "parameters": {
        "jsCode": "// バイナリデータとメタデータを取得\nconst binaryData = $('Get LINE Image').item.binary;\nconst imageDataObject = binaryData.data;  // これはオブジェクト\nconst base64String = imageDataObject.data;  // この中にBase64文字列がある\nconst mimeType = imageDataObject.mimeType || 'image/jpeg';\nconst driveFileId = $('Google Drive Upload').item.json.id;\nconst driveUrl = `https://drive.google.com/uc?export=view&id=${driveFileId}`;\n\n// Base64形式で画像URLを構築\nconst base64Image = `data:${mimeType};base64,${base64String}`;\n\n// OpenAI APIリクエストボディを構築\nconst requestBody = {\n  model: \"gpt-4o\",\n  messages: [\n    {\n      role: \"system\",\n      content: `あなたは経理の専門家AIです。アップロードされた領収書画像からJSONデータを抽出してください。\n\n# ルール\n1. **transaction_date**: 日付を YYYY-MM-DD 形式で抽出。記載がない場合は null。\n2. **merchant**: 店舗名・会社名を正確に抽出。\n3. **amount**: 合計金額（数値のみ）。カンマや円マークは除去。\n4. **tax_amount**: 消費税額（記載があれば）。\n5. **invoice_number**: \"T\"から始まる13桁の登録番号があれば抽出。なければ null。\n6. **description**: 取引の内容（例：駐車場代、飲食代）。画像内の時間情報があればそれも含める。\n7. **category**: 取引内容から適切な勘定科目を推測して選択。\n   - 駐車場・タクシー → \"旅費交通費\"\n   - 飲食（打ち合わせ） → \"会議費\"\n   - 文房具・消耗品 → \"消耗品費\"\n   - 書籍・セミナー → \"研修費\"\n   - その他 → \"雑費\"\n8. **tax_rate**: 消費税率（例：10 または 8）。軽減税率に注意。\n\n# 出力形式\nJSONのみを出力してください。説明文は不要です。\n\n{\n  \"transaction_date\": \"YYYY-MM-DD\",\n  \"merchant\": \"店舗名\",\n  \"amount\": 1000,\n  \"tax_amount\": 100,\n  \"invoice_number\": \"T1234567890123\",\n  \"description\": \"駐車場代（16:02-17:15）\",\n  \"category\": \"旅費交通費\",\n  \"tax_rate\": 10\n}`\n    },\n    {\n      role: \"user\",\n      content: [\n        {\n          type: \"text\",\n          text: \"この領収書画像から情報を抽出してください。\"\n        },\n        {\n          type: \"image_url\",\n          image_url: {\n            url: base64Image\n          }\n        }\n      ]\n    }\n  ],\n  max_tokens: 500,\n  temperature: 0.2\n};\n\n// 出力データ\nreturn {\n  json: {\n    requestBody: requestBody,\n    driveUrl: driveUrl\n  }\n};"
      },
      "id": "4c73c813-627b-4877-8aa5-5a38fe32cf71",
      "name": "OCRリクエスト構築",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        0
      ],
      "notes": "画像をBase64エンコードしてOpenAI APIリクエストを構築"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "6d858a82-8239-4882-ae6a-83d0fcafb71d",
      "name": "AI-OCR処理（GPT-4o）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "LV3x7SKePkEfp0n7",
          "name": "openai-api"
        }
      },
      "notes": "gpt-4oで画像から構造化データ抽出"
    },
    {
      "parameters": {
        "jsCode": "// AI-OCR結果をパース（OpenAI APIレスポンス形式）\nlet content = $input.item.json.choices[0].message.content;\n// Markdownのコードブロックを削除（OpenAI APIが```json```で囲むことがある）\ncontent = content.replace(/^```json\\s*\\n?/, '').replace(/\\n?```\\s*$/, '').trim();\nconst ocrResult = JSON.parse(content);\nconst userConfig = $('顧客マスター参照').item.json;\nconst fileId = $('Google Drive Upload').item.json.id;\nconst driveUrl = `https://drive.google.com/uc?export=view&id=${fileId}`;\n\n// 税区分の判定\nlet taxType = \"\";\nif (ocrResult.invoice_number && ocrResult.invoice_number.startsWith('T')) {\n  taxType = ocrResult.tax_rate === 10 ? \"課10% インボイス\" : \"課8% インボイス\";\n} else {\n  taxType = ocrResult.tax_rate === 10 ? \"課10% 区分記載\" : \"課8% 区分記載\";\n}\n\n// 会計ソフト別CSVフォーマット生成\nlet csvRow = \"\";\nif (userConfig.accounting_soft === \"freee\") {\n  csvRow = [\n    ocrResult.transaction_date,\n    ocrResult.category,\n    ocrResult.amount,\n    taxType,\n    \"現金\",\n    ocrResult.amount,\n    `${ocrResult.merchant}（${ocrResult.description}）`,\n    \"\"\n  ].join(\",\");\n} else if (userConfig.accounting_soft === \"moneyforward\") {\n  csvRow = [\n    ocrResult.transaction_date,\n    ocrResult.category,\n    \"\",\n    ocrResult.amount,\n    \"現金\",\n    \"\",\n    ocrResult.amount,\n    taxType,\n    `${ocrResult.merchant}（${ocrResult.description}）`\n  ].join(\",\");\n}\n\n// 出力データ\nreturn {\n  json: {\n    // OCR結果\n    ...ocrResult,\n    // 追加情報\n    customer_name: userConfig.customer_name,\n    tax_type: taxType,\n    evidence_url: driveUrl,\n    csv_row: csvRow,\n    status: \"Review_Required\",\n    processed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "49f6a610-e32c-4294-aedc-14c6585e9408",
      "name": "データ変換・CSV生成",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        0
      ],
      "notes": "勘定科目確定・税区分判定・CSV生成"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('顧客マスター参照').item.json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "仕訳台帳",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "merchant",
              "displayName": "merchant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "debit_account",
              "displayName": "debit_account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "drive_link",
              "displayName": "drive_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "value": {
            "timestamp": "={{ $json.processed_at }}",
            "date": "={{ $json.transaction_date }}",
            "merchant": "={{ $json.merchant }}",
            "amount": "={{ $json.amount }}",
            "debit_account": "={{ $json.category }}",
            "invoice_number": "={{ $json.invoice_number }}",
            "drive_link": "={{ $json.evidence_url }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "085cbdf5-3a96-4f3a-8c30-e4a866768e7f",
      "name": "顧客台帳へ記帳",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        912,
        0
      ],
      "credentials": {
        "googleApi": {
          "id": "wqlgnFawkxBp06JZ",
          "name": "gsheet-oauth"
        }
      },
      "notes": "顧客別スプレッドシートに行追加"
    },
    {
      "parameters": {
        "jsCode": "// データ変換ノードから取得したデータ\nconst data = $('データ変換・CSV生成').item.json;\nconst userId = $('Webhook').item.json.body.events[0].source.userId;\n\n// undefined/null値を適切に処理してメッセージを構築\nconst formatValue = (value, defaultText = '（未取得）') => {\n  return (value !== null && value !== undefined && value !== '') ? value : defaultText;\n};\n\nconst formatAmount = (amount) => {\n  if (amount !== null && amount !== undefined) {\n    return '¥' + Number(amount).toLocaleString('ja-JP');\n  }\n  return '（未取得）';\n};\n\n// LINE APIリクエストボディを構築\nconst lineMessage = {\n  to: userId,\n  messages: [\n    {\n      type: 'text',\n      text: `領収書を処理しました✅\n\n【処理内容】\n日付: ${formatValue(data.transaction_date)}\n支払先: ${formatValue(data.merchant)}\n金額: ${formatAmount(data.amount)}\n科目: ${formatValue(data.category)}\n\n証憑: ${formatValue(data.evidence_url, '（リンクなし）')}`\n    }\n  ]\n};\n\nreturn {\n  json: {\n    lineRequestBody: lineMessage\n  }\n};"
      },
      "id": "256037ba-e2e7-410b-a27b-e87d7d7e364e",
      "name": "LINE返信メッセージ構築",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        0
      ],
      "notes": "undefined値を適切に処理してLINEメッセージを構築"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.lineRequestBody }}",
        "options": {}
      },
      "id": "b8117fcf-23ba-424a-b037-5ba9aa971585",
      "name": "LINE返信（成功）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nAPZJ9Lw44Y8WAvy",
          "name": "line-bot-auth"
        }
      },
      "notes": "処理完了をLINEで通知"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"to\": $('Webhook').item.json.body.events[0].source.userId,\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"申し訳ございません。ユーザー登録が確認できませんでした。\\n管理者にお問い合わせください。\"\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "002d724d-f4b2-4dc0-ade4-4ddd961f8c46",
      "name": "LINE返信（未登録ユーザー）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nAPZJ9Lw44Y8WAvy",
          "name": "line-bot-auth"
        }
      },
      "notes": "未登録ユーザーへのエラー通知"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-follow-event",
              "leftValue": "={{ $json.body.events[0].type }}",
              "rightValue": "follow",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "921be29c-3c78-4f9c-b33a-06c3c5fc293b",
      "name": "IF Follow Event",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -608,
        544
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1dw8XFIp6KnYzYFKSUkIrhhnOpCEpkUsqzajwtc5rOkY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master_User_Config",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "line_user_id",
              "lookupValue": "={{ $('Webhook').item.json.body.events[0].source.userId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "caaba516-ae5d-4bf3-845a-4ba565baf8af",
      "name": "既存ユーザー確認",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -400,
        544
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "wqlgnFawkxBp06JZ",
          "name": "gsheet-oauth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-new-user",
              "leftValue": "={{ !$input.first().json.line_user_id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "16573c1e-8881-4192-90eb-1344fa388be5",
      "name": "IF 新規ユーザー",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        544
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dw8XFIp6KnYzYFKSUkIrhhnOpCEpkUsqzajwtc5rOkY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master_User_Config",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "line_user_id": "={{ $('Webhook1').item.json.body.events[0].source.userId }}",
            "customer_name": "未設定",
            "accounting_soft": "freee",
            "registration_date": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "line_user_id",
              "displayName": "line_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "drive_folder_id",
              "displayName": "drive_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sheet_id",
              "displayName": "sheet_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "accounting_soft",
              "displayName": "accounting_soft",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "registration_date",
              "displayName": "registration_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "95cb23db-3a1a-43ea-8af5-11b22b0fe64d",
      "name": "新規ユーザー登録",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        192,
        432
      ],
      "credentials": {
        "googleApi": {
          "id": "wqlgnFawkxBp06JZ",
          "name": "gsheet-oauth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"to\": \"{{ $('Webhook').item.json.body.events[0].source.userId }}\",\n    \"messages\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"✅ 友だち追加ありがとうございます！\\n\\n自動登録が完了しました。\\n管理者が設定を完了次第、領収書画像を送信できるようになります。\\n\\nしばらくお待ちください。\"\n      }\n    ]\n  }",
        "options": {}
      },
      "id": "1f00465f-71be-4cf4-8925-c44ab375714d",
      "name": "ウェルカムメッセージ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        432
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KEr2eztpZqz2ZOjH",
          "name": "line-bot-auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"to\": \"{{ $('Webhook').item.json.body.events[0].source.userId }}\",\n    \"messages\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"ℹ️ 既に登録済みです。\\n\\n領収書画像を送信すると、自動で処理されます。\"\n      }\n    ]\n  }",
        "options": {}
      },
      "id": "e922752e-918a-403d-9985-dd3e33187756",
      "name": "既存ユーザーメッセージ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        640
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KEr2eztpZqz2ZOjH",
          "name": "line-bot-auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n    json: {\n      line_user_id: $('Webhook').item.json.body.events[0].source.userId,\n      customer_name: \"未設定\",\n      drive_folder_id: \"\",\n      sheet_id: \"\",\n      accounting_soft: \"freee\",\n      registration_date: new Date().toISOString()\n    }\n  }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        432
      ],
      "id": "c3d0aee3-f02e-45f2-bdd5-6e33c5f72782",
      "name": "登録データ準備"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF Image",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Follow Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Image": {
      "main": [
        [
          {
            "node": "顧客マスター参照",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "顧客マスター参照": {
      "main": [
        [
          {
            "node": "IF ユーザー登録済み",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF ユーザー登録済み": {
      "main": [
        [
          {
            "node": "Get LINE Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LINE返信（未登録ユーザー）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LINE Image": {
      "main": [
        [
          {
            "node": "Google Drive Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Upload": {
      "main": [
        [
          {
            "node": "OCRリクエスト構築",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCRリクエスト構築": {
      "main": [
        [
          {
            "node": "AI-OCR処理（GPT-4o）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI-OCR処理（GPT-4o）": {
      "main": [
        [
          {
            "node": "データ変換・CSV生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "データ変換・CSV生成": {
      "main": [
        [
          {
            "node": "顧客台帳へ記帳",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "顧客台帳へ記帳": {
      "main": [
        [
          {
            "node": "LINE返信メッセージ構築",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINE返信メッセージ構築": {
      "main": [
        [
          {
            "node": "LINE返信（成功）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Follow Event": {
      "main": [
        [
          {
            "node": "既存ユーザー確認",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "既存ユーザー確認": {
      "main": [
        [
          {
            "node": "IF 新規ユーザー",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 新規ユーザー": {
      "main": [
        [
          {
            "node": "登録データ準備",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "既存ユーザーメッセージ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "新規ユーザー登録": {
      "main": [
        [
          {
            "node": "ウェルカムメッセージ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "登録データ準備": {
      "main": [
        [
          {
            "node": "新規ユーザー登録",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "80a6bddc-f706-4fda-a2ae-f958fd8c5129",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "faaa7132a861649d5b2459b24797889c8ab370f06610eda697f904d9fc215ba9"
  },
  "id": "aWBRUWNsZvaatSD4",
  "tags": [
    {
      "name": "LINE Bot",
      "id": "ZT0OKpXQyclz27RQ",
      "updatedAt": "2025-12-29T11:32:25.992Z",
      "createdAt": "2025-12-29T11:32:25.992Z"
    },
    {
      "name": "経理自動化",
      "id": "5rX8Ok02DXl82gfv",
      "updatedAt": "2025-12-29T11:32:25.992Z",
      "createdAt": "2025-12-29T11:32:25.992Z"
    }
  ]
}