n8n/workflows/line-user-auto-registration.json
{
  "name": "LINE Follow - Auto Registration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-follow",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "line-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-follow-event",
              "leftValue": "={{ $json.body.events[0].type }}",
              "rightValue": "follow",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-follow-event",
      "name": "IF Follow Event",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1dw8XFIp6KnYzYFKSUkIrhhnOpCEpkUsqzajwtc5rOkY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master_User_Config",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "line_user_id",
              "lookupValue": "={{ $('Webhook').item.json.body.events[0].source.userId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-existing-user",
      "name": "既存ユーザー確認",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [650, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheet-oauth",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-new-user",
              "leftValue": "={{ $json.line_user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-new-user",
      "name": "IF 新規ユーザー",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dw8XFIp6KnYzYFKSUkIrhhnOpCEpkUsqzajwtc5rOkY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master_User_Config",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "line_user_id": "={{ $('Webhook').item.json.body.events[0].source.userId }}",
            "customer_name": "未設定",
            "drive_folder_id": "",
            "sheet_id": "",
            "accounting_soft": "freee",
            "registration_date": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "add-user-to-sheet",
      "name": "新規ユーザー登録",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1050, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheet-oauth",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"✅ 友だち追加ありがとうございます！\\n\\n自動登録が完了しました。\\n管理者が設定を完了次第、領収書画像を送信できるようになります。\\n\\nしばらくお待ちください。\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "line-reply-welcome",
      "name": "ウェルカムメッセージ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "line-bot-auth",
          "name": "LINE Bot Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"ℹ️ 既に登録済みです。\\n\\n領収書画像を送信すると、自動で処理されます。\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "line-reply-existing",
      "name": "既存ユーザーメッセージ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "line-bot-auth",
          "name": "LINE Bot Auth"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF Follow Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Follow Event": {
      "main": [
        [
          {
            "node": "既存ユーザー確認",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "既存ユーザー確認": {
      "main": [
        [
          {
            "node": "IF 新規ユーザー",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 新規ユーザー": {
      "main": [
        [
          {
            "node": "新規ユーザー登録",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "既存ユーザーメッセージ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "新規ユーザー登録": {
      "main": [
        [
          {
            "node": "ウェルカムメッセージ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-28T00:00:00.000Z",
  "versionId": "2"
}
