n8n/workflows/line-user-auto-registration.json
{
  "name": "LINE Follow - Auto Registration with Duplicate Check",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line-webhook",
        "options": {}
      },
      "id": "1d4ec187-4e5c-457c-99bf-521af84c1fe0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -800,
        112
      ],
      "webhookId": "line-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-follow-event",
              "leftValue": "={{ $json.body.events[0].type }}",
              "rightValue": "follow",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b08437c0-0cfb-4082-830b-e6b12e7a5791",
      "name": "IF Follow Event",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -608,
        112
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=1dw8XFIp6KnYzYFKSUkIrhhnOpCEpkUsqzajwtc5rOkY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master_User_Config",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "line_user_id",
              "lookupValue": "={{ $('Webhook').item.json.body.events[0].source.userId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "253ea773-6a6b-4beb-9264-72e8f3399e72",
      "name": "既存ユーザー確認",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -400,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ROJzPVoM5oAoJbht",
          "name": "gsheet-oauth"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-new-user",
              "leftValue": "={{ $json.line_user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty",
                "singleValue": true
              }
            },
            {
              "id": "d31a688b-20c5-4ca9-bee1-1f24a91957e0",
              "leftValue": "={{ $json.line_user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "e7652590-fdab-4c57-8725-a234925730c8",
      "name": "IF 新規ユーザー",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        112
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1dw8XFIp6KnYzYFKSUkIrhhnOpCEpkUsqzajwtc5rOkY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master_User_Config",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "line_user_id": "={{ $('Webhook').item.json.body.events[0].source.userId }}",
            "customer_name": "未設定",
            "drive_folder_id": "",
            "sheet_id": "",
            "accounting_soft": "freee",
            "registration_date": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "567a77af-cd1d-42d8-8ec2-09401c3c684b",
      "name": "新規ユーザー登録",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ROJzPVoM5oAoJbht",
          "name": "gsheet-oauth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $('Webhook').item.json.body.events[0].source.userId }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"✅ 友だち追加ありがとうございます！\\n\\n自動登録が完了しました。\\n管理者が設定を完了次第、領収書画像を送信できるようになります。\\n\\nしばらくお待ちください。\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "f0ff7696-e1f4-4121-a283-7e432eb94988",
      "name": "LINE返信（新規）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "W2HXAsu4U49qcxS3",
          "name": "line-bot-auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $('Webhook').item.json.body.events[0].source.userId }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"✅ 既に登録済みです\\n\\nこのアカウントは既に登録されています。\\n領収書画像を送信してご利用ください。\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "60d7a748-4806-4e2b-baa3-ef61d1e5aa27",
      "name": "LINE返信（既存）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "W2HXAsu4U49qcxS3",
          "name": "line-bot-auth"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF Follow Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Follow Event": {
      "main": [
        [
          {
            "node": "既存ユーザー確認",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "既存ユーザー確認": {
      "main": [
        [
          {
            "node": "IF 新規ユーザー",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 新規ユーザー": {
      "main": [
        [
          {
            "node": "新規ユーザー登録",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LINE返信（既存）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "新規ユーザー登録": {
      "main": [
        [
          {
            "node": "LINE返信（新規）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dafad0d7-7514-4285-8596-bf228f2a4542",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "faaa7132a861649d5b2459b24797889c8ab370f06610eda697f904d9fc215ba9"
  },
  "id": "r40cMCoS0OKvVioKqCvzR",
  "tags": []
}