n8n/workflows/line-perplexity-qa.json
{
  "name": "LINE × Perplexity QA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line-perplexity-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.body.events[0].message.type }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-text-node",
      "name": "IF Text Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: 'sonar-pro',\n  messages: [\n    {\n      role: 'system',\n      content: 'あなたは沖縄県北部の観光コンシェルジュです。ユーザーからの質問に対して、最新のWeb情報を検索し、正確で分かりやすい回答を日本語で提供してください。回答は簡潔に、引用元を明示してください。'\n    },\n    {\n      role: 'user',\n      content: $json.body.events[0].message.text\n    }\n  ],\n  temperature: 0.2,\n  return_citations: true,\n  max_tokens: 500\n} }}",
        "options": {}
      },
      "id": "perplexity-api-node",
      "name": "Perplexity API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "perplexity-api-auth",
          "name": "Perplexity API Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "replyToken",
              "name": "replyToken",
              "value": "={{ $('Webhook').item.json.body.events[0].replyToken }}",
              "type": "string"
            },
            {
              "id": "answer",
              "name": "answer",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "citations",
              "name": "citations",
              "value": "={{ $json.citations ? $json.citations.join('\\n') : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response-node",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ {\n  replyToken: $json.replyToken,\n  messages: [\n    {\n      type: 'text',\n      text: $json.answer + ($json.citations ? '\\n\\n📚 参考:\\n' + $json.citations : '')\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "line-reply-node",
      "name": "LINE Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "line-bot-auth",
          "name": "LINE Bot Auth"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF Text Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Text Message": {
      "main": [
        [
          {
            "node": "Perplexity API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity API": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "LINE Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "line-perplexity-qa",
  "meta": {
    "instanceId": "local"
  },
  "tags": ["ConciergeAI", "Perplexity", "LINE"]
}
