n8n/workflows/line-accounting-automation.json
{
  "name": "LINE経理自動化（領収書処理）",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line-webhook",
        "options": {}
      },
      "id": "e47fdb60-86c2-4fcd-ac10-2b1ef52da3b1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -800,
        112
      ],
      "webhookId": "158e3f68-5e85-4593-a0d7-3137bcfca727",
      "notes": "LINE Messaging APIからのWebhook受信"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.body.events[0].message.type }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "485cf5a5-4ae5-48a0-b363-0c5312d25d58",
      "name": "IF Image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -608,
        112
      ],
      "notes": "画像メッセージのみ処理"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YIbH5gzXigtdc7oYiYqEK-0Lh6-_l9LgFdRAbG97ABo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master_User_Config",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "line_user_id",
              "lookupValue": "={{ $('Webhook').item.json.body.events[0].source.userId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "51aa0c2a-25c7-478c-8467-7d60b6a75416",
      "name": "顧客マスター参照",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -400,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sXG5pt0sxBGR1oYp",
          "name": "gsheet-oauth"
        }
      },
      "notes": "LINEユーザーIDから顧客設定を取得"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-user-exists",
              "leftValue": "={{ $json.line_user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c827ec-743a-4e58-8585-032c060bc381",
      "name": "IF ユーザー登録済み",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        112
      ],
      "notes": "未登録ユーザーはエラー処理へ"
    },
    {
      "parameters": {
        "url": "=https://api-data.line.me/v2/bot/message/{{ $('Webhook').item.json.body.events[0].message.id }}/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "d208db63-7ffb-48e5-8257-28bbd6b43ca7",
      "name": "Get LINE Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GAmF8hXASgBV67Oz",
          "name": "line-bot-auth"
        }
      },
      "notes": "LINE APIから画像バイナリを取得"
    },
    {
      "parameters": {
        "name": "={{ $now.format('yyyyMMdd_HHmmss') }}_{{ $('顧客マスター参照').item.json.line_user_id }}.jpg",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('顧客マスター参照').item.json.drive_folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "791a8da2-527c-40a6-9c44-8d32e7e2e1c7",
      "name": "Google Drive Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CF3ydLVw1fdrzg6k",
          "name": "gdrive-oauth"
        }
      },
      "notes": "顧客別フォルダに保存（動的振り分け）"
    },
    {
      "parameters": {
        "jsCode": "// Get LINE Imageノードからバイナリデータを取得\nconst lineImageBinary = $('Get LINE Image').first().binary;\n\n// Google Drive Uploadからの出力データ（JSON）を取得\nconst driveOutput = $input.first().json;\n\n// 両方を次のノードに渡す\nreturn {\n  json: driveOutput,\n  binary: lineImageBinary\n};"
      },
      "id": "ab1a5ffc-3b02-4f81-b14f-4ca8af214579",
      "name": "バイナリデータ保持",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        0
      ],
      "notes": "Google DriveのJSON出力とLINE画像のバイナリを両方渡す"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "あなたは経理の専門家AIです。この領収書画像からJSONデータを抽出してください。\n\n# ルール\n1. **transaction_date**: 日付を YYYY-MM-DD 形式で抽出。記載がない場合は null。\n2. **merchant**: 店舗名・会社名を正確に抽出。\n3. **amount**: 合計金額（数値のみ）。カンマや円マークは除去。\n4. **tax_amount**: 消費税額（記載があれば）。\n5. **invoice_number**: \"T\"から始まる13桁の登録番号があれば抽出。なければ null。\n6. **description**: 取引の内容（例：駐車場代、飲食代）。画像内の時間情報があればそれも含める。\n7. **category**: 取引内容から適切な勘定科目を推測して選択。\n   - 駐車場・タクシー → \"旅費交通費\"\n   - 飲食（打ち合わせ） → \"会議費\"\n   - 文房具・消耗品 → \"消耗品費\"\n   - 書籍・セミナー → \"研修費\"\n   - その他 → \"雑費\"\n8. **tax_rate**: 消費税率（例：10 または 8）。軽減税率に注意。\n\n# 出力形式\nJSONのみを出力してください。説明文は不要です。\n\n{\n  \"transaction_date\": \"YYYY-MM-DD\",\n  \"merchant\": \"店舗名\",\n  \"amount\": 1000,\n  \"tax_amount\": 100,\n  \"invoice_number\": \"T1234567890123\",\n  \"description\": \"駐車場代（16:02-17:15）\",\n  \"category\": \"旅費交通費\",\n  \"tax_rate\": 10\n}",
        "inputType": "base64",
        "options": {}
      },
      "id": "ba2f7c11-195d-4429-b162-60f7c12e84cf",
      "name": "AI-OCR処理（OpenAI Vision）",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        400,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "WPlHOVLvFkVrwKaK",
          "name": "openai-api"
        }
      },
      "notes": "gpt-4oで画像から構造化データ抽出（Image Analyze・バイナリ入力）"
    },
    {
      "parameters": {
        "jsCode": "// AI-OCR結果をパース（OpenAI専用ノードのレスポンス形式）\n// AI-OCR処理ノードから直接データを取得\nlet aiOcrOutput = $(\"AI-OCR処理（OpenAI Vision）\").first().json;\n\n// aiOcrOutputが配列の場合、最初の要素を取得\nif (Array.isArray(aiOcrOutput)) {\n  aiOcrOutput = aiOcrOutput[0];\n}\n\nlet content;\n\n// OpenAI Visionノードは content配列の中の text フィールドにレスポンスを格納\nif (aiOcrOutput.content && Array.isArray(aiOcrOutput.content) && aiOcrOutput.content.length > 0) {\n  // content配列から最初のoutput_textを取得\n  const firstContent = aiOcrOutput.content[0];\n  if (firstContent && firstContent.text) {\n    content = firstContent.text;\n  }\n} else if (aiOcrOutput.message?.content) {\n  content = aiOcrOutput.message.content;\n} else if (aiOcrOutput.text) {\n  content = aiOcrOutput.text;\n}\n\nif (!content) {\n  // 詳細なデバッグ情報を出力\n  const debugInfo = {\n    hasContent: !!aiOcrOutput.content,\n    contentType: typeof aiOcrOutput.content,\n    isContentArray: Array.isArray(aiOcrOutput.content),\n    contentLength: aiOcrOutput.content?.length,\n    firstItemKeys: aiOcrOutput.content?.[0] ? Object.keys(aiOcrOutput.content[0]) : null,\n    firstItemText: aiOcrOutput.content?.[0]?.text,\n    hasMessage: !!aiOcrOutput.message,\n    hasText: !!aiOcrOutput.text,\n    topLevelKeys: Object.keys(aiOcrOutput),\n    sampleData: JSON.stringify(aiOcrOutput).substring(0, 500)\n  };\n  throw new Error(\"OpenAI response content not found. Debug: \" + JSON.stringify(debugInfo, null, 2));\n}\n\n// contentが文字列でない場合は変換\nif (typeof content !== \"string\") {\n  if (typeof content === \"object\") {\n    content = JSON.stringify(content);\n  } else {\n    content = String(content);\n  }\n}\n\n// Markdownのコードブロックを削除（OpenAI APIが```json```で囲むことがある）\ncontent = content.replace(/^```json\\s*\\n?/, \"\").replace(/\\n?```\\s*$/, \"\").trim();\nconst ocrResult = JSON.parse(content);\nconst userConfig = $(\"顧客マスター参照\").item.json;\nconst fileId = $(\"Google Drive Upload\").item.json.id;\nconst driveUrl = `https://drive.google.com/uc?export=view&id=${fileId}`;\n\n// 税区分の判定\nlet taxType = \"\";\nif (ocrResult.invoice_number && ocrResult.invoice_number.startsWith(\"T\")) {\n  taxType = ocrResult.tax_rate === 10 ? \"課10% インボイス\" : \"課8% インボイス\";\n} else {\n  taxType = ocrResult.tax_rate === 10 ? \"課10% 区分記載\" : \"課8% 区分記載\";\n}\n\n// 取引Noの採番（YYYYMMDDHHmmss）\nconst transactionDate = ocrResult.transaction_date || new Date().toISOString().slice(0, 10);\nconst now = new Date();\nconst timePart = [\n  String(now.getHours()).padStart(2, \"0\"),\n  String(now.getMinutes()).padStart(2, \"0\"),\n  String(now.getSeconds()).padStart(2, \"0\")\n].join(\"\");\nconst transactionNo = `${transactionDate.replace(/-/g, \"\")}${timePart}`;\n\n// 摘要の自動生成\nconst description = `${ocrResult.merchant} - ${ocrResult.category}`;\n\n// 出力データ\nreturn {\n  json: {\n    // OCR結果\n    ...ocrResult,\n    // 追加情報\n    customer_name: userConfig.customer_name,\n    tax_type: taxType,\n    evidence_url: driveUrl,\n    status: \"Review_Required\",\n    processed_at: new Date().toISOString(),\n    \"取引No\": transactionNo,\n    \"取引日\": transactionDate,\n    \"借方勘定科目\": ocrResult.category,\n    \"借方補助科目\": ocrResult.category,\n    \"借方部門\": \"\",\n    \"借方取引先\": ocrResult.merchant,\n    \"借方税区分\": taxType,\n    \"借方インボイス\": ocrResult.invoice_number || \"\",\n    \"借方金額(円)\": ocrResult.amount,\n    \"貸方勘定科目\": \"現金\",\n    \"貸方補助科目\": \"\",\n    \"貸方部門\": \"\",\n    \"貸方取引先\": \"\",\n    \"貸方税区分\": \"対象外\",\n    \"貸方インボイス\": \"\",\n    \"貸方金額(円)\": ocrResult.amount,\n    \"摘要\": description,\n    \"タグ\": \"領収書,LINE自動処理\",\n    \"メモ\": \"AIによる自動判定\"\n  }\n};\n"
      },
      "id": "1420474e-c1c2-4ec9-a7fa-8841be87dc86",
      "name": "データ変換・CSV生成",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        0
      ],
      "notes": "勘定科目確定・税区分判定・仕訳データ生成"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('顧客マスター参照').item.json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "仕訳台帳",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "id": "取引No",
              "displayName": "取引No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "取引日",
              "displayName": "取引日",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "借方勘定科目",
              "displayName": "借方勘定科目",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "借方補助科目",
              "displayName": "借方補助科目",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "借方部門",
              "displayName": "借方部門",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "借方取引先",
              "displayName": "借方取引先",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "借方税区分",
              "displayName": "借方税区分",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "借方インボイス",
              "displayName": "借方インボイス",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "借方金額(円)",
              "displayName": "借方金額(円)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "貸方勘定科目",
              "displayName": "貸方勘定科目",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "貸方補助科目",
              "displayName": "貸方補助科目",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "貸方部門",
              "displayName": "貸方部門",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "貸方取引先",
              "displayName": "貸方取引先",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "貸方税区分",
              "displayName": "貸方税区分",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "貸方インボイス",
              "displayName": "貸方インボイス",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "貸方金額(円)",
              "displayName": "貸方金額(円)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "摘要",
              "displayName": "摘要",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "タグ",
              "displayName": "タグ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "メモ",
              "displayName": "メモ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "value": {
            "取引No": "={{ $json[\"取引No\"] }}",
            "取引日": "={{ $json[\"取引日\"] }}",
            "借方勘定科目": "={{ $json[\"借方勘定科目\"] }}",
            "借方補助科目": "={{ $json[\"借方補助科目\"] }}",
            "借方部門": "={{ $json[\"借方部門\"] }}",
            "借方取引先": "={{ $json[\"借方取引先\"] }}",
            "借方税区分": "={{ $json[\"借方税区分\"] }}",
            "借方インボイス": "={{ $json[\"借方インボイス\"] }}",
            "借方金額(円)": "={{ $json[\"借方金額(円)\"] }}",
            "貸方勘定科目": "={{ $json[\"貸方勘定科目\"] }}",
            "貸方補助科目": "={{ $json[\"貸方補助科目\"] }}",
            "貸方部門": "={{ $json[\"貸方部門\"] }}",
            "貸方取引先": "={{ $json[\"貸方取引先\"] }}",
            "貸方税区分": "={{ $json[\"貸方税区分\"] }}",
            "貸方インボイス": "={{ $json[\"貸方インボイス\"] }}",
            "貸方金額(円)": "={{ $json[\"貸方金額(円)\"] }}",
            "摘要": "={{ $json[\"摘要\"] }}",
            "タグ": "={{ $json[\"タグ\"] }}",
            "メモ": "={{ $json[\"メモ\"] }}"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "4d4a3a44-5f93-4a28-bcbe-b7deb3b60d1b",
      "name": "顧客台帳へ記帳",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        912,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sXG5pt0sxBGR1oYp",
          "name": "gsheet-oauth"
        }
      },
      "notes": "顧客別スプレッドシートに行追加"
    },
    {
      "parameters": {
        "jsCode": "// データ変換ノードから取得したデータ\nconst data = $('データ変換・CSV生成').item.json;\nconst userId = $('Webhook').item.json.body.events[0].source.userId;\n\n// undefined/null値を適切に処理してメッセージを構築\nconst formatValue = (value, defaultText = '（未取得）') => {\n  return (value !== null && value !== undefined && value !== '') ? value : defaultText;\n};\n\nconst formatAmount = (amount) => {\n  if (amount !== null && amount !== undefined) {\n    return '¥' + Number(amount).toLocaleString('ja-JP');\n  }\n  return '（未取得）';\n};\n\n// LINE APIリクエストボディを構築\nconst lineMessage = {\n  to: userId,\n  messages: [\n    {\n      type: 'text',\n      text: `領収書を処理しました✅\n\n【処理内容】\n日付: ${formatValue(data.transaction_date)}\n支払先: ${formatValue(data.merchant)}\n金額: ${formatAmount(data.amount)}\n科目: ${formatValue(data.category)}\n\n証憑: ${formatValue(data.evidence_url, '（リンクなし）')}`\n    }\n  ]\n};\n\nreturn {\n  json: {\n    lineRequestBody: lineMessage\n  }\n};"
      },
      "id": "061e93ce-9800-4794-93d3-419130ee68db",
      "name": "LINE返信メッセージ構築",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        0
      ],
      "notes": "undefined値を適切に処理してLINEメッセージを構築"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.lineRequestBody }}",
        "options": {}
      },
      "id": "48f083ba-5017-4a79-8901-e98c79c52c2d",
      "name": "LINE返信（成功）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GAmF8hXASgBV67Oz",
          "name": "line-bot-auth"
        }
      },
      "notes": "処理完了をLINEで通知"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"to\": $('Webhook').item.json.body.events[0].source.userId,\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"申し訳ございません。ユーザー登録が確認できませんでした。\\n管理者にお問い合わせください。\"\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "dda1e4e7-355c-415d-85a6-ab941e896e5f",
      "name": "LINE返信（未登録ユーザー）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GAmF8hXASgBV67Oz",
          "name": "line-bot-auth"
        }
      },
      "notes": "未登録ユーザーへのエラー通知"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Image": {
      "main": [
        [
          {
            "node": "顧客マスター参照",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "顧客マスター参照": {
      "main": [
        [
          {
            "node": "IF ユーザー登録済み",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF ユーザー登録済み": {
      "main": [
        [
          {
            "node": "Get LINE Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LINE返信（未登録ユーザー）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LINE Image": {
      "main": [
        [
          {
            "node": "Google Drive Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Upload": {
      "main": [
        [
          {
            "node": "バイナリデータ保持",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "バイナリデータ保持": {
      "main": [
        [
          {
            "node": "AI-OCR処理（OpenAI Vision）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI-OCR処理（OpenAI Vision）": {
      "main": [
        [
          {
            "node": "データ変換・CSV生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "データ変換・CSV生成": {
      "main": [
        [
          {
            "node": "顧客台帳へ記帳",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "顧客台帳へ記帳": {
      "main": [
        [
          {
            "node": "LINE返信メッセージ構築",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINE返信メッセージ構築": {
      "main": [
        [
          {
            "node": "LINE返信（成功）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "26357ed9-0aba-48f0-b262-1ae75be81daa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "71debd18dd997faeafb2cdd94b3dff5854febcf0c53e51db0969a97fc0e4a84b"
  },
  "id": "zw4bFcIgjqzLcPr8",
  "tags": [
    {
      "updatedAt": "2025-12-12T07:41:30.394Z",
      "createdAt": "2025-12-12T07:41:30.394Z",
      "id": "DY6K6uu7iQuJndm8",
      "name": "経理自動化"
    },
    {
      "updatedAt": "2025-12-12T07:41:30.330Z",
      "createdAt": "2025-12-12T07:41:30.330Z",
      "id": "zAXEqDyvTJJvUCIW",
      "name": "LINE Bot"
    }
  ]
}
