n8n/workflows/line-to-gdrive.json
{
  "name": "LINE Bot to Google Drive",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.events[0].message.type }}",
              "operation": "equals",
              "value2": "image"
            }
          ]
        }
      },
      "id": "if-image-node",
      "name": "IF Image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api-data.line.me/v2/bot/message/{{ $json.events[0].message.id }}/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "responseFormat": "file",
        "options": {}
      },
      "id": "get-image-node",
      "name": "Get LINE Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "line-bot-auth",
          "name": "LINE Bot Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "fileContent": "={{ $binary.data }}",
        "name": "={{ $now.format('yyyy-MM-dd_HHmmss') }}_{{ $('Webhook').item.json.events[0].source.groupId || 'direct' }}.jpg",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "inbox",
          "mode": "name"
        },
        "options": {}
      },
      "id": "gdrive-upload-node",
      "name": "Google Drive Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [850, 200],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gdrive-oauth",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Image uploaded to Google Drive\" } }}"
      },
      "id": "response-success-node",
      "name": "Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"ignored\", \"message\": \"Not an image message\" } }}"
      },
      "id": "response-ignored-node",
      "name": "Response Ignored",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Image": {
      "main": [
        [
          {
            "node": "Get LINE Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Ignored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LINE Image": {
      "main": [
        [
          {
            "node": "Google Drive Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Upload": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "line-to-gdrive",
  "meta": {
    "instanceId": "local"
  },
  "tags": []
}
